<?xml version="1.0" encoding="UTF-8" ?>
<!--
       Copyright 2015-2016 the original author or authors.
       Licensed under the Apache License, Version 2.0 (the "License");
       you may not use this file except in compliance with the License.
       You may obtain a copy of the License at
          http://www.apache.org/licenses/LICENSE-2.0
       Unless required by applicable law or agreed to in writing, software
       distributed under the License is distributed on an "AS IS" BASIS,
       WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
       See the License for the specific language governing permissions and
       limitations under the License.
-->
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senyint.squeue.queue.dao.QueueDao">
    <select id="selectQueueByToken" resultType="Map">
        SELECT q.* FROM tb_queue q,tb_token t,tb_token_binding b
        where q.queue_num=b.queue_num and t.token_key = b.token_key
        <if test="token != null">AND t.token_key=#{token}</if>
        <if test="queueNum != null">AND q.queue_num=#{queueNum}</if>
    </select>

    <select id="selectQueueByQueueNum" resultType="Map">
        SELECT * FROM tb_queue q
        where q.queue_num=#{queueNum}
    </select>

    <select id="selectQueue" resultType="Map">
        SELECT * FROM tb_queue
        where queue_num=#{queueNum}
    </select>

    <insert id="insertQueue">
        insert into tb_queue(queue_num,queue_name,queue_desc,dept_id) VALUE (#{queueNum},#{queueName},#{queueDesc},#{deptId})
    </insert>
</mapper>